$fonts_dir: '../../fonts/';
$img_dir: '../../images/';
$basic_radius: 3px;

$color1: #323232;
$color2: #939696;
$color3: #009CFF;
$color4: #E3E9E6;
$color5: #ACC2C9;
$color6: #1c8bd3;
$color7: #262626;
$color8: #2f2f2f;
$color9:#c9c9c9;
$color10: #1d1d1d;

$base_bg: #1d1d1d;
$base_color: #c9c9c9;