<h1>О приложении</h1>
<p>Данное приложение позволяет удобно наполнять плей лист избранного,<br>
а так же прослушивать аудиозаписи свои и своих друзей сохраняя ваш статус вконтакте как "offline"</p>

<h2>Обновления</h2>
<div class="pl-20">
    <ul>
        <li> <b>0.0.2</b>
            Переведено на русский язык,
            добавлена страница "о приложении",
            улучшена работа с плей листом
        </li>
    </ul>
</div>

<h2>Контакты</h2>
<p>Баги, пожелания и пр. писать в группу.</p>
<div class="pl-20">
    <ul>
        <li><a target="_blank" href="https://vk.com/playmeap">группа вконтакте</a></li>
        <!--<li><a target="_blank" href="http://vk.com/etoed">vk</a></li>-->
        <!--<li><a target="_blank" href="http://edtoken.github.io/">website</a></li>-->
    </ul>
</div>