
<div class="appHeader playerController">

</div>

<div class="appNavigation">
    <div class="container">
        <div class="row">
            <ul class="col-sm-12">
                <!--<li><a id="geFriendsPage" href="#/id_<%- mid %>/friends">Friends</a></li>-->
                <li><a id="getAudiosPage" href="#/id_<%- mid %>/audios/list">My audios</a></li>
                <!--<li><a id="geAboutPage" href="#/about">About</a></li>-->
                <li><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="appContentWrap">
    <div class="container appContentNode">

    </div>
</div>
<div class="appFooter">
    <p>&copy; <a href="http://edtoken.github.io" target="blank">ed</a></p>
</div>

