<div class="loginPage">

    <header class="container">
        <div class="row">
            <h1 class="col-sm-12">playMe ap</h1>
            <p class="col-sm-12">Удобный плеер музыки вконтакте.<br>
                Позволяет слушать музыку свою и друзей.<br>
                Ваш статус на странице при этом оффлайн. <a href="https://vk.com/playmeap">группа вконтакте</a></p>
        </div>
    </header>

    <div class="container loginContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <button>ВОЙТИ</button>
            </div>
        </div>
    </div>

    <footer class="container">
        <div class="row">
            <p class="col-sm-12">&copy; ed</p>
        </div>
    </footer>

</div>