<div class="loginPage">

    <header class="container">
        <div class="row">
            <h1 class="col-sm-12">playMe app</h1>
            <p class="col-sm-12">user frendly player</p>
        </div>
    </header>

    <div class="container loginContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <button>LOGIN</button>
            </div>
        </div>
    </div>

    <footer class="container">
        <div class="row">
            <p class="col-sm-12">&copy; ed</p>
        </div>
    </footer>

</div>