body {
  background: $base_bg;
  color: $color9;
}

.preload {

  position: relative;
  min-height: 20px;
  min-width: 20px;

  &:before {
    top:0;
    content: "";
    display: block;
    min-width: 20px;
    min-height: 20px;
    background-image: url("#{$dir_images}preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-preload;
    z-index: 100;
  }
}

.clearfix {
  display: block;
  clear: left;
  clear: right;
  clear: both;
}

.display-none {
  display: none!important;
}
