<div class="itemControls">
    <div class="controls">
        <span class="glyphicon glyphicon-play play playcontrol"></span>
    </div>
    <div class="actions">
        <span class="glyphicon glyphicon-arrow-right favorite" title="add to favorite"></span>
        <!--<span class="glyphicon glyphicon-cog"></span>-->
        <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--<span class="glyphicon glyphicon-trash"></span>-->
    </div>
</div>

<div class="itemHead">
    <span><%- artist %></span>
    <span><%- title %></span>
</div>

<div class="progress">
    <span class="progress-position"></span>
    <span class="progress-value"></span>
</div>