<div class="itemControls">
    <div class="controls">
        <span class="glyphicon glyphicon-play play playcontrol"></span>
    </div>
    <div class="actions">
        <% if(favorite){ %>
        <span class="glyphicon glyphicon-remove-sign favorite-remove" title="Удалить из избранного"></span>
        <% }else{ %>
        <span class="glyphicon glyphicon-ok-sign favorite-add" title="Добавить в избранное"></span>
        <% } %>
        <!--<span class="glyphicon glyphicon-download download" title="Скачать"></span>-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
        <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--<span class="glyphicon glyphicon-trash"></span>-->
    </div>
</div>

<div class="itemHead">
    <span><%- artist %></span>
    <span><%- title %></span>
</div>

<div class="progress">
    <span class="progress-position"></span>
    <span class="progress-value"></span>
</div>