<div class="container">
    <div class="row">
        <div class="col-md-5">
            <ul class="controllersList">
                <li><a class="glyphicon glyphicon-backward backward" href="#control/backward"></a></li>
                <li><a class="glyphicon glyphicon-play play playcontrol" href="#control/play"></a></li>
                <li><a class="glyphicon glyphicon-stop stop hidden" href="#control/stop"></a></li>
                <li><a class="glyphicon glyphicon-forward forward" href="#control/forward"></a></li>
                <!--<li><a class="glyphicon glyphicon-volume-off volume-off" href="#control/volume-off"></a></li>-->
            </ul>
        </div>
        <div class="appHeaderInfo col-md-7 ">

            <div class="row smallControllerView preload">

            </div>

            <div id="audioList"></div>

        </div>
        <!--<div class="col-sm-2">-->
            <!--input-->
        <!--</div>-->
    </div>
</div>